body {
    font-size: 16px;
    line-height: 1.5em;
    color: rgb(67, 67, 67);
    background: #eee url("../images/bg.jpg") fixed center;
    font-family: 'Baloo Tamma 2', Arial, Helvetica, sans-serif;
  }
  .primary-bg {
    background-color: #a68ce4;
  }
  .primary-text {
    color: #a68ce4
  }
  .secondary-bg {
    background-color: #15a0a5
  }
  .gradient {
    background: #15a0a5;
    background: -moz-linear-gradient(0deg, #15a0a5 0%, rgba(166,140,228,1) 100%);
    background: -webkit-linear-gradient(0deg, #15a0a5 0%, rgba(166,140,228,1) 100%);
    background: linear-gradient(0deg, #15a0a5 0%, rgba(166,140,228,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#15a0a5",endColorstr="#a68ce4",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15a0a5",endColorstr="#a68ce4",GradientType=1);
  }
  h1 {
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    line-height: 3em;
    color: white;
  }
  h2 {
    font-size: 2em;
    line-height: 2em
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .container {
    margin: 1em 5em 1em 5em
  }
  .centered {
    text-align: center;
    align-items: center;
    align-content: center;
  }
  label {
    color: rgb(201, 175, 137);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .trendy-box {
    padding: 18px;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: beige;
    border-radius: 94% 8% 100% 3% / 3% 94% 5% 96%;
    -webkit-border-radius: 94% 8% 100% 3% / 3% 94% 5% 96%;
    -moz-border-radius: 94% 8% 100% 3% / 3% 94% 5% 96%;
    -ms-border-radius: 94% 8% 100% 3% / 3% 94% 5% 96%;
    -o-border-radius: 94% 8% 100% 3% / 3% 94% 5% 96%;
}
  input, input:active {
    padding: 15px;
    font-size: 16px;
    margin: 10px 0px 15px 0px;
    display: block;
    border-color: rgb(201, 175, 137);
    border-style: solid;
    width: 95%;
    background-color: transparent;
    border-width: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  input:focus{
    outline: none;
    border-color:#2ec5cb;
  }
  .primary-btn {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: transparent;
    color: #0da5aa;
    border-color: #2ec5cb;
    border-width: 0.2em;
    margin: 10px 0px 10px 0px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .primary-btn:hover {
    color: #eee;
    background-color: #2ec5cb;;
  }
  
  .show {
      transition: opacity 400ms;
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      -ms-transition: opacity 400ms;
      -o-transition: opacity 400ms;
  }
  .hide {
      opacity: 0;
  }
  hr{
    border-color: rgba(211, 211, 211, 0.248);
    margin: 1em 0em 1em 0em
  }
  .min {
      max-height: 0%
  }
  .name {
    background-color: rgb(233, 152, 3);
    color: rgb(147, 82, 2);
    text-align: center;
    padding: 5px;
    max-width: 40%;
    border-radius: 79% 20% 77% 17% / 29% 48% 47% 57%;
    -webkit-border-radius: 79% 20% 77% 17% / 29% 48% 47% 57%;
    -moz-border-radius: 79% 20% 77% 17% / 29% 48% 47% 57%;
    -ms-border-radius: 79% 20% 77% 17% / 29% 48% 47% 57%;
    -o-border-radius: 79% 20% 77% 17% / 29% 48% 47% 57%;
}